---
import "../style/base.css";
interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={desc} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

  <!-- TRACKING START ------------------------------------------------------------------------------------------------------->

  <!-- GSC Verification -->
  <!-- <meta name="google-site-verification" content="2agJkI24fETsPX3waKdKhXZhmp5A_3WZhv2T_muK7oo" /> -->

  <!-- Bing Verification -->
  <!-- <meta name="msvalidate.01" content="5CEA96578F0B618D16C4C764CF561BD7" /> -->

  <!-- Google Recaptcha -->
  

  <!-- Google Tag Manager (Updated) -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K2DNWQP7');</script>
    <!-- End Google Tag Manager -->
  
    <!-- CTM Tracking Code -->
    <script async src="//538296.tctm.co/t.js"></script>

  </head>
  <body class="relative font-display bg-slate-50 text-brand-text">
    <slot />

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2DNWQP7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


  
  </body>
</html>